body {
    margin: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    min-height: 100vh;
    justify-content: center;
}
.choices {
    display: flex;
    align-items: center;
    gap: 2rem;
}